@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainText: #949ba4;
  --channelsBackground: #1e1f22;
  --friendsBackground: #2b2d31;
  --mainBackground: #313338;
  --friendListBackground: #3b3c41;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-channels: var(--channelsBackground);
  --color-friends: var(--friendsBackground);
  --color-chat: var(--mainBackground);
  --color-main-text: var(--mainText);
  --color-friend-list-background: var(--friendListBackground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.items-position-center{
  @apply flex justify-center items-center h-screen w-screen;
}

.main-loading-spinner{
  @apply w-20 h-20 border-4 border-blue-500 border-y-transparent rounded-full animate-spin
}