@import "tailwindcss";
@import "./animated-components/pop-up.css";
@import "./components/custom.buttons/filter.buttons.css";
@import "./pages/auth/bg.css";
@import "./pages/auth/login.css";
@import "./pages/auth/register.css";
@import "./pages/containers/containers.css";
@import "./pages/me/sections/channels.css";
@import "./pages/me/sections/chat.css";
@import "./pages/me/sections/friendRequests.css";
@import "./pages/me/sections/friends.css";
@import "./pages/me/sections/userProfile.css";
@import "./pages/me/sections/messages/fileMessage.css";
@import "./pages/me/sections/messages/imageMessage.css";
@import "./pages/channel/channel.modal.css";
@import "./pages/channel/channel.chat.list.css";
@import "./pages/channel/channel.members.css";
@import "./animations/animations.css";
@import "./components/server/card.css";
@import "./pages/channel/channel.joinBanner.css";
@import "./pages/channel/channel.voicechat.panel.css";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mainText: #949ba4;
  --message: #283443;
  --channelsBackground: #10151b;
  --friendsBackground: #1d2631;
  --senderMessage: #4c75a8;
  --sectionBorder: #283443;
  --profile: #283443;
  --clicked: #324255;
  --customFocus: #3d5067;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-section: var(--sectionBorder);
  --color-channels: var(--channelsBackground);
  --color-friends: var(--friendsBackground);
  --color-message: var(--message);
  --color-main-text: var(--mainText);
  --color-sender: var(--senderMessage);
  --color-custom-focus: var(--customFocus);
  --color-clicked: var(--clicked);
  --color-profile: var(--profile);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.items-position-center{
  @apply flex justify-center items-center;
}

.main-loading-spinner{
  @apply w-20 h-20 border-4 border-blue-500 border-y-transparent rounded-full animate-spin
}

.scalable-loading-spinner{
  @apply border-4 w-full h-full border-blue-500 border-y-transparent rounded-full animate-spin
}



/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}



/* Custom scrollbar for Chrome, Safari and Opera */
.scrollbar-small::-webkit-scrollbar {
  width: 4px;  /* vertical scrollbar width */
  height: 4px; /* horizontal scrollbar height */
}


/* Firefox */
.scrollbar-small {
  scrollbar-width: thin;
}